@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');

body {
  background-color: #1a0000; /* Fundo quase preto, com tom de sangue seco */
  color: #f2e6e6; /* Tom pálido, como pele de vampira */
  font-family: 'MedievalSharp', cursive;
  font-size: 18px;
  padding: 20px;
  min-height: 100vh;
}

main {
  background-color: rgba(40, 0, 0, 0.7); /* Vermelho escuro com transparência */
  border: 2px solid #660000;
  border-radius: 10px;
  padding: 20px;
  max-width: 800px;
  margin: auto;
  box-shadow: 0 0 20px #990000;
}

h1, h2 {
  color: #ff1a1a; /* Vermelho sangue */
  text-shadow:
    1px 1px 0 #000,
    -1px -1px 0 #000,
    2px 2px 4px #330000;
  letter-spacing: 2px;
  text-transform: uppercase;
}

p {
  color: #ffe6e6;
  line-height: 1.6;
  margin-bottom: 10px;
  font-size: 1.2rem;
}

img {
  display: block;
  margin: 20px auto;
  max-width: 100%;
  border: 2px solid #990000;
  border-radius: 8px;
  box-shadow: 0 0 15px #660000;
}
